.block{
    display: block;
    width: 200px;
    height: 100px;
    background-color: lightblue;
    margin-bottom: 100px;
}
.inline{
    display: inline;
    background-color: lightgreen;
    padding: 5px;
    margin-right: 200px;
    margin-left: 200px;
}
.inline-block{
    display: inline-block;
    width: 50px;
    background-color: lightcoral;
    margin-left: 10px;
}
